.intro-bg {
    max-width: 1400px;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0px auto;
    align-items: center;
    justify-content: space-between;
    background-color: #111;
    box-shadow: inset 0 -120px 0 #fff;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.intro-bg p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    max-width: 60ch;
    margin-left: 20px;
}

.img-intro img {
    width: 590px;
    height: 526px;
    margin-right: 20px;
}

.link-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background: #25d366;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.link-whatsapp-2 {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    top: 430px;
    color: #8EFE00;
    border-radius: 50%;
    text-align: left;
    font-size: .875rem;
    font-family: 'Poppins';
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

@media (max-width:800px) {
    .intro-bg {
        grid-template-columns: 1fr;
        box-shadow: inset 0 -120px 0 #fff;
    }
    .intro-bg p {
        font-size: 1.125rem;
        margin-bottom: 20px;
        max-width: 30ch;
        text-align: justify;
    }
    .img-intro img {
        width: 400px;
        height: 400px;
        margin: 0px auto;
    }
    .link-whatsapp-2 {
        display: none;
    }
}